<my-header></my-header>
<div class="container helper-padding-top-15 ">
    <div class="wrapper row">

      <div class="col m2 hide-on-small-only">
          	<my-navigator></my-navigator>
      </div>

      <div class="col m8 s12">
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col m4">
                <a [routerLink]="['DynamicRouting']"  class="waves-effect my-nav-item waves-light" style="display:inline-block; width:80%; background-color:#143C6A; text-align:center; color:white; margin-right:20%;">Dynamic Routing in angular2</a>
              </li>
              <li class="tab col m4">
                  <a [routerLink]="['DynamicNavigation']"  class="waves-effect waves-light  my-nav-item "  style="display:inline-block;  width:80%; background-color:#143C6A; color:white; text-align:center;">Dynamic Navigation in angular2</a>
              </li>
              <!-- <li class="tab col s3 disabled"><a href="#test3">Disabled Tab</a></li> -->
            </ul>
          </div>
        </div>

        <div class="container helper-padding-top-15 ">
          <router-outlet>
          </router-outlet>
      </div>
    </div>

    <div class="col m2 hide-on-small-only">
        	<my-sidebar></my-sidebar>
    </div>

  </div>
</div>

<my-footer></my-footer>
