<my-header></my-header>
<div id="main">
    <div class="wrapper">
    	<my-navigator></my-navigator>
    	<section id="content">
    	  <div class="container helper-padding-top-15 ">

          <div class="top-nav helper-padding-bottom-15">
            <a [routerLink]="['DynamicRouting']"  class="waves-effect waves-light btn-large top-nav-item helper-font-bigger" style="display:inline-block; width:180px;  text-align:center; margin-right:30px;">Dynamic Routing in angular2</a>
            <a [routerLink]="['DynamicNavigation']"  class="waves-effect waves-light btn-large top-nav-item helper-font-bigger"  style="display:inline-block; width:180px; text-align:center;">Dynamic Navigation in angular2</a>
          </div>

    			<router-outlet>
          </router-outlet>
			</div>
		</section>
  	<my-sidebar></my-sidebar>
    </div>
</div>

<my-footer class="page-footer"></my-footer>
