<my-header></my-header>
<div id="main" class="container">
    <div class="wrapper row">

      <div class="col m2">
            	<my-navigator></my-navigator>
      </div>

      <div class="col m8">
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col m3">
                <a [routerLink]="['DynamicRouting']"  class="waves-effect waves-light" style="display:inline-block;  background-color:#12355C; text-align:center; margin-right:30px;">Dynamic Routing in angular2</a>
              </li>
              <li class="tab col m3">
                  <a [routerLink]="['DynamicNavigation']"  class="waves-effect waves-light"  style="display:inline-block; background-color:#12355C; text-align:center;">Dynamic Navigation in angular2</a>
              </li>
              <!-- <li class="tab col s3 disabled"><a href="#test3">Disabled Tab</a></li> -->
            </ul>
          </div>
        </div>

        <div class="container helper-padding-top-15 ">
          <router-outlet>
          </router-outlet>
      </div>

    </div>

    <div class="col m2">
        	<my-sidebar></my-sidebar>
    </div>

    </div>
</div>

<my-footer class="page-footer"></my-footer>
