tt, code, kbd, samp, pre {
    font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

code{
  font-size: 1.2em;
}

body{
  min-height: 550px;
}

html,body{
  height: 100%;
}

.highlight {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #002b36;
  color: #93a1a1;
  padding: 1px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.site-footer {
  background-color: black;
}
